<meta *ngIf="token" http-equiv="refresh" content="2;url='home'" />
<!--login-->
<body>
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="../../../assets/img/KDS-Learn-Logo.jpeg" class="brand_logo" alt="Logo">
					</div>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form #login="ngForm" (ngSubmit)="onSubmit()">
						<div *ngIf="token" class="alert alert-success" role="alert">
							Logueado
						</div>
						<div *ngIf="!token && message" class="alert alert-danger" role="alert">
						   {{message}}
						  </div>
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input [(ngModel)]="user.username" name="username"  type="text" class="form-control input_user" value="" placeholder="nombre de usuario">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input [(ngModel)]="user.password" name="password" type="password" class="form-control input_pass" value="" placeholder="contraseña">
						</div>
						<div class="form-group">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="customControlInline">
								<label class="custom-control-label" for="customControlInline">Recuérdame</label>
							</div>
						</div>
							<div class="d-flex justify-content-center mt-3 login_container">
								<button [disabled]="!login.form.valid" class="btn" type="submit">
									Iniciar sesión
								</button>
				   </div>
					</form>
				<!--Parte de Registrarse-->
				</div>
				<div class="mt-4">
					<div class="d-flex justify-content-center mt-3 login_container">
						 <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
							Registrarse
						  </button>
					</div>
					<div class="d-flex justify-content-center links">
						<a href="#">¿Olvidaste tu contraseña?</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content text-center">
		<div class="modal-header d-flex justify-content-center">
		  <h5 class="modal-title" id="exampleModalLabel"></h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">


			<img  src="assets\img\logou.png" width="315px" height="200px">			

		  <h1>¡Registrate Ahora!</h1>
		</div>
		<div class="modal-footer  text-white">
			<button routerLink="/register" type="button" class="btn btn-outline-success" data-bs-dismiss="modal" >TUTOR</button>
			<button routerLink="/registerEstudent" type="button" class="btn btn-outline-success" data-bs-dismiss="modal" >ESTUDIANTE</button>
		</div>
	  </div>
	</div>
  </div>
</body>
   <!-- Copyright -->
   <footer>
	<div class="p-3" style="background-color: black; color: white;">
	  © 2022 Copyright:
	  <a>KDS LEARN</a>
	  <br>
	</div>  
  </footer>
<!-- Copyright -->