body,
html 
{
    margin: auto;
    padding: 10%;
    height: 100%;
    font-family:"Motserrat";
}
.user_card {
    height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;

}

.btn{
    color: #000;
    background-color: #DDB07B;
    border: black 1px solid;
}

.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
}
.brand_logo {
    height: 150px;
    width: 150px;
}
.form_container {
    margin-top: 100px;
}
.login_btn {
    width: 100%;
    background: #7B001E !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #7B001E !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #c0392b !important;
}
.modal-content
{
    background-color: white;
    border: 0px;
}
.modal-header 
{
    background-color: #7B001E;
}
.modal-footer
{
    background-color: #7B001E;
}
.modal
{
    background-color: rgba(0, 0, 0, 0.3);
}
