<h3 *ngIf="token==null" class="stroke">Inicia sesión o registrate para ver las funciones de TUTOSEARCH ©</h3>
<body>
  <h1 class="text-center h1" *ngIf="course!=null">{{course.name}}</h1>
	<br/>
  <youtube-player class="text-center" videoId="{{course.video.substr(-11)}}" suggestedQuality="highres"
  [height]="450" 
  [width]="800">
  </youtube-player>
  <!--CARD-->
  <h1 class="stroke" *ngIf="user.role=='ROLE_TEACHER' && course.comments==''">Regresa a la página anterior para crear una publicación nueva.</h1>
  <br/>
  <h1 class="stroke" *ngIf="course.comments==''">Aún no hay publicaciones en este curso</h1>
  <div class="container text-center mt-5">
    <button *ngIf="user.role=='ROLE_STUDENT'" type="button" routerLink="/listCoursesStudents"data-bs-dismiss="modal" class="btn ">
      Volver
    </button>
    <button *ngIf="user.role=='ROLE_TEACHER'"type="button" routerLink="/listCoursesTeachers"data-bs-dismiss="modal" class="btn">
      Volver
    </button>  
  </div>
  <div>
    <div id="trans" class="" *ngFor="let comment of comments">          
      <div  class="card-body">
        <img src="assets\img\libro.png" width="200rem" height="80rem" class="img-responsive" alt=".">
        <h2 class="card-title">{{comment.title}}</h2>
        <hr>
        <h3 class="card-title">{{comment.comm}}</h3>
        <hr>
        <h3>  Links  </h3>
        <a href={{comment.link1}} target="_blank"class="card-title" *ngIf="comment.link1!=''">→{{comment.link1}}</a><br>
        <a href={{comment.link2}} target="_blank" class="card-title" *ngIf="comment.link2!=''">→ {{comment.link2}}</a><br>
        <a href={{comment.link3}} target="_blank" class="card-title"  *ngIf="comment.link3!=''">→ {{comment.link3}}</a><br>
        <a href={{comment.link4}} target="_blank" class="card-title" *ngIf="comment.link4!=''">→{{comment.link4}}</a><br>
        <a href={{comment.link5}} target="_blank" class="card-title" *ngIf="comment.link5!=''">→{{comment.link5}}</a>
        <div *ngIf="user.role=='ROLE_TEACHER'">
          <img src="assets\img\rbin.png" (click)='getComment(comment._id)' width="50rem"  height="50rem" class="img-responsive" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" alt="delete"> 
        </div>
      </div>   
    </div>
  </div>
  <!--Modal-->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header text-white d-flex justify-content-center">
          <h5 class="modal-title" id="exampleModalLabel">
            Esta publicación se eliminará </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <br>
        <h3>¿Estás seguro de eliminar esta publicación?</h3>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" data-dismiss="modal" (click)='deleteComment()' data-bs-dismiss="modal" class="btn btn-danger" >Eliminar</button>
        </div>
      </div>
    </div>
  </div>   
</body>
<app-navbar></app-navbar>
<!--FINAL-->
