body {
    font-family: 'Montserrat';
    margin-top: -10%;
    padding: 10%;
}

h1{
    font-family: 'Montserrat';
    font-size: 4rem;
}

.card-title{
    color: rgb(0, 0, 0);
}

.card-body{
    text-align: center;
}

.texto{
    color: rgb(14, 14, 13);
}

.myWidth{
    margin: 0.5rem;
    margin-top: 2rem;
    background-color: #f4f4f4;
    transition: all 0.5s ease;
}

.myWidth:hover{
    transition: all 0.5s ease;
    transform: scale(0.9);
}

.container{
    margin: 0.5rem;
    margin-top: 1rem;
    border-color: rgb(0, 0, 0);
}

#botonesCrud{
    display: inline-block;
    margin-left: 1.5rem;
}

.searchbar{
    margin-bottom: auto;
    margin-top: 5%;
    height: 60px;
    background-color: #fffefe;
    border-radius: 30px;
    padding: 10px;border-width: 1px;
  border-style: solid;
  border-color: black;
}

.search_input{
    color: rgb(3, 3, 3);
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_input{
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_icon{
    background: white;
    color: rgb(123,0,30);
}

.search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:rgb(123,0,30);
    text-decoration:none;
}

.modal-header
{
    background-color: rgb(123,0,30);
}

.modal-title{
    color: white;
}

.modal-footer
{
    background-color: rgb(123,0,30);
}