body {
    margin-top: 110px;
    padding-bottom: 5%;
    min-height: 100vh;
    text-align: center;
    font-family:"Montserrat";
    flex-wrap: wrap;
    min-width: 250px;
}

h1{
    font-size: 4rem;
}

.card-body{
    color: rgb(12, 12, 12);
    margin: 7px;
    display: inline-block; 
    border-radius: 20px;
    border-color: black;
}

#trans{
    transition: all 0.5s ease;
}

#trans:hover{
    transform: scale(0.9);
    transition: all 0.5s ease;
}


.card-title{
    color: #7B001E;
    font-weight: bold;
    justify-content:center;
}

.texto{
    color: rgb(14, 14, 13);
}

.btn{
    color:black ;
    background-color: #CC9865;
    margin-top: 29px;
}

footer{
    align-self: flex-end;
    bottom: 0;
    width: 100%;
}