body {
    font-family: 'Montserrat';
    padding: 10%;
    height: 100%;
    padding-top: 7%;
}

h1{
    font-family: 'Montserrat';
    font-size: 4rem;
}

img{
    width: 15%;
    float: left;
}

.card-title{
    color: rgb(0, 0, 0);
}

.card-body{
    float: left;
}

.texto{
    color: rgb(14, 14, 13);
}

.row .texto{
    margin-top: 10%;
    font-size: 140%;
}

.myWidth{
    display: inline-block;
    margin: 0.5rem;
    margin-top: 2rem;
    background-color: #f4f4f4;
    transition: all 0.5s ease;
}

.myWidth:hover{
    transition: all 0.5s ease;
    transform: scale(0.9);
}

.container{
    margin: 0.5rem;
    margin-top: 1rem;
    align-items: center;
    border-color: rgb(0, 0, 0);
}

.btn{
    color: white;
    background-color: #CC9865;
    border: 1px solid black;
    width: 100%;
}

.btns{
    float: right;
    margin-top: 4%;
    margin-right: 2%;
}

.btn-danger{
    background-color: red;
}

.searchbar{
    margin-bottom: auto;
    margin-top: 5%;
    height: 60px;
    background-color: #fffefe;
    border-radius: 30px;
    padding: 10px;
    border: 1px solid black;
}

.search_input{
    color: rgb(3, 3, 3);
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_input{
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_icon{
    background: white;
    color: #7b001e;
}

.search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:#7b001e;
    text-decoration:none;
}
.modal-header 
{
	background-color:#7b001e;
}
.modal-footer
{
	background-color:#7b001e;
}

