<app-navbar></app-navbar>
<body>
    <div class="container h-100 d-flex justify-content-center">
        <!--LIST USERS IN-->
        <div id="trans" class="col-lg-4 col-md-3" >
            <div class="card d-flex justify-content-center h-100">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="../../../assets/img/teacher (1).png" width="100rem" height="100rem" class="img-fluid" />
                </div>
                <div class="card-body row">
                    <h5 class="card-title">USUARIOS</h5>
                    <p class="card-text">
                        ¡Lista los usuarios con acceso a la página!
                    </p>
                    <a href="/listUsers" class="btn">¡Vamos!</a>
                </div>
            </div>
        </div>
      <!--LIST PENDING USERS-->
        <div id="trans" class="col-lg-4 col-md-3" >
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="../../../assets/img/sala-de-espera.png" width="100rem" height="100rem" class="img-fluid" />
                </div>
                <div class="card-body row justify-content-center align-items-center">
                    <h5 class="card-title">PENDIENTES</h5>
                    <p class="card-text">
                        ¡Lista los usuarios con acceso pendiente!
                    </p>
                    <a href="/listPendingUsers" class="btn">¡Vamos!</a>
                </div>
            </div>
        </div>
    </div>
</body>